
# ------------------------------------------------------------------------------ COMPOSER

# Ignore loaded composer modules
app/vendor/*

# Ignore composer lock installation
app/composer.lock


# ------------------------------------------------------------------------------ POOPS

# Mac poops
.DS_Store

# Ignore ide files
.idea

# Logs
logs
*.log